-#- if want.bought_flg == false
-#  = link_to 'Want', bought_path(want), class: "btn btn-default", data: {list_id: "#{want.id}"}, remote: true
-#- elsif want.bought_flg == true
-#  = link_to 'Bought', back_to_want_path(want), class: "btn btn-default btn-delete", data: {list_id: "#{want.id}"}, remote: true
