- if want.bought_flg
  = link_to 'Bought', change_bought_button_want_path(want), class: "btn btn-default btn-delete", data: {list_id: "#{want.id}"}, remote: true
- else
  = link_to 'Want', change_bought_button_want_path(want), class: "btn btn-default", data: {list_id: "#{want.id}"}, remote: true
