= link_to '自分の繰返し出費の追加', new_repeat_expense_path, class: "btn btn-default block"
%br
= link_to '二人の繰返し出費の追加', both_repeat_expenses_path, class: "btn btn-default block"
%br

= render 'expenses/expenses_list', current_user_expenses:@current_user_expenses,  current_user_expenses_of_both:@current_user_expenses_of_both, partner_expenses_of_both:@partner_expenses_of_both
