.before-login-header {
  background-color: var(--redpepper);
  line-height: 50px;
  height: 50px;
  vertical-align: center;
}
.before-login-header .logo {
  color: white;
  font-weight: 300;
  font-size: 20px;
  padding-left: 15px;
}
.header-menu{
  float: right;
  padding-right: 15px;
}
.before-login-header a {
  color: white;
}
.header-menu .menu-link {
  padding: 0 10px;
  display: inline-block;
}
.header-menu .menu-link:active,
.header-menu .menu-link:focus,
.header-menu .menu-link:hover {
  background: rgba(0,0,0,0.1);
  color: white;
}
.password-explanation {
  line-height: 15px;
  font-size: 0.9em;
}
