<%= render partial: 'shared/html_title', locals: {subtitle: "fronts controller"} %>
<div class="content-wrapper">

  <section class="content-header">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <h3>fronts controller</h3>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="box box-brown">

          <div class="box-header with-border">
            <h3>box header</h3>
          </div><!-- /.box-header -->

          <div class="box-body">
            <% @categories.each do |category| %>
              <%= category.expenses.first.memo %>
            <% end %>
          </div><!-- /.box-body -->

        </div><!-- /.box box-brown -->

      </div><!-- /.col-md-12  -->
    </div><!-- /row -->

  </section><!-- /.content -->

</div>