%div.whole_page.container
  %div ユーザーネーム #{@user.name}
  %div メールアドレス #{@user.email}
  %div パートナー
  - if @partner.present?
    = @partner.name
  - else
    = link_to '登録する', new_partner_path, class: "btn btn-default"
