-#変数 val: , true_str: , false_str: , path:
- if val.bought_flg == true
  = link_to true_str, path, class: "btn btn-default btn-delete", data: {list_id: "#{val.id}"}, remote: true
- elsif val.bought_flg == false
  = link_to false_str, path, class: "btn btn-default", data: {list_id: "#{val.id}"}, remote: true

