<div class="home-box">
  <div class="home-logo">
    <div><small>Welcome to</small></div>
    <%= image_tag 'icon.png', width: 42, height: 42 %>
    <b>PairMoney</b>
    <%= image_tag 'icon.png', width: 42, height: 42 %>
  </div><!--/.home-logo -->


  <div class="home-box-body text-center">
    <p class="text-redpepper"><%= alert %></p>
    <div><b>PairMoney</b>は、</div>
    <div>夫婦またはカップル専用の</div>
    <div>家計簿webアプリケーションです。</div>
    <br />
    <div>簡単な収入や出費の入力で</div>
    <div>複雑な二人の出費を管理できます。</div>
    <br />
    <%= link_to 'プレビュー', preview_mode_url, method: :post, class: "btn btn-orange btn-block" %>
  </div><!-- /.home-box-body -->

</div><!-- /.home-box -->

