%li.nav-item.dropdown
  %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Dropdown
  .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
    %a.dropdown-item{:href => "#"} Action
    %a.dropdown-item{:href => "#"} Another action
    .dropdown-divider
    %a.dropdown-item{:href => "#"} Something else here
