<%= render partial: 'shared/html_title', locals: {subtitle: "収入を入力"} %>
<div class="content-wrapper">

  <section class="content-header">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <h3>収入を入力</h3>
      </div>
    </div>
  </section>

  <%= render 'form', income: @income %>

</div>