<%= render partial: 'shared/html_title', locals: {subtitle: "収入を入力"} %>
<div class="content-wrapper">

  <section class="content-header">
    <h1>収入を入力</h1>
  </section>

  <%= render 'form', income: @income %>

</div>