.whole_page
  %h3 収支バランス一覧
  %br
  %br

  %table.table
    %tr
      %th 月
      %th 金額
    - if @balances
      - @balances.each do |balance|
        %tr
          %td
            = balance.japanese_month
          %td
            #{balance.amount.to_s(:delimited)}円
%div