%div.whole_page.container
  %h3 予算を入力
  = form_with(model: @badget, local: true) do |f|
    = f.collection_select(:category_id, @categories, :id, :kind)
    = f.number_field :amount, required: true
    = f.submit '入力', class: "btn btn-default"
