<%= render partial: 'shared/html_title', locals: {subtitle: "二人の貯金を編集"} %>
<div class="content-wrapper">

  <section class="content-header">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <% if @deposit.is_withdrawn? %>
          <h3><%= t('deposit.edit.title.withdrawn') %></h3>
        <% else %>
          <h3><%= t('deposit.edit.title.normal') %></h3>
        <% end %>
      </div>
    </div>
  </section>

  <%= render 'form', deposit: @deposit %>

</div>