<% provide :title, "#{CONFIG[:site_name]} | 二人の貯金を編集" %>
<div class="content-wrapper">

  <section class="content-header">
    <h1>二人の貯金を編集</h1>
  </section>

  <%= render 'form', deposit: @deposit %>

</div>