<% provide :title, "#{CONFIG[:site_name]} | 引き出し金額を入力" %>
<div class="content-wrapper">

  <section class="content-header">
    <h1>引き出し金額を入力</h1>
  </section>

  <%= render 'form', deposit: @deposit %>

</div>