= render 'expenses/expenses_list', cnum:@cnum, sum:@sum, both_sum:@both_sum, category_badgets:@category_badgets, current_user_expenses:@current_user_expenses,  current_user_expenses_of_both:@current_user_expenses_of_both, partner_expenses_of_both:@partner_expenses_of_both, category_sums: @category_sums
