a {
  color: #333;

  &:hover {
    color: #333;
    text-decoration: underline;
  }
}

li {
  list-style: none;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:focus{
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }

  &:active{
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

html {
  min-height: 100%;
  min-width: 100%;
  font-size: 35px;
}

body{
  min-height: 100%;
  background-color: white;
  padding-top: 150px;
  position: relative;
}

.whole_page {
  padding-bottom: 200px;
  padding-left: 30px;
  padding-right: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}



p.notice {
  background-color: #fff;
  margin: 0;
  padding: 20px;
}

p.alert {
  background-color: #fff;
  margin: 0;
  padding: 20px;
}

.error_explanation {
  margin-top: 20px;
}

.btn-gray-light {
  background-color: lightgray;
}

input.form-control {
    font-size: 1.4rem;
}

.table {
  margin-bottom: 50px;
}

th {
    background-color: #ffe6eb;
}

.panel-heading {
    background-color: #ffe6eb;
    padding: 15px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.panel-body {
    padding: 15px;
    text-align: right;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    font-weight: 600;
}

.block {
  display: block;
}

input.btn.btn-default.btn-add {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  &:focus {
    background-color: #ffb3c2;
    border-color: #ff8099;
  }
  &:active {
    background-color: #ffb3c2;
    border-color: #ff8099;
  }
}

input.btn.btn-default.btn-confirm {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  &:focus {
    background-color: #ffb3c2;
    border-color: #ff8099;
  }
  &:active {
    background-color: #ffb3c2;
    border-color: #ff8099;
  }
}

.btn-delete {
  display: block;
}
