li.analyses-tab {
  width: 50%;
  text-align: center;
  margin-right: 0px;
}
small.sum-of-the-date {
  margin-left: 10px;
  color: gray;
}
.nav-tabs-custom>.nav-tabs>li.analyses-tab {
  margin-right: 0px;
}
.year-month-selection{
  padding-left: 5px;
  padding-right: 5px;
}
.year-month-selection{
  padding-left: 5px;
  padding-right: 5px;
}

td.td-middle.no-top-bottom-padding{
  padding-top: 0px;
  padding-bottom: 0px;
}
td.progress-bar-td {
  padding-top: 0 !important;
}
.progress-bar-orange{
  background-color: var(--onion);
}
.no-link-decoration, .no-link-decoration:hover, .no-link-decoration:active, .no-link-decoration:focus {
  color: inherit;
}
.rotate-arrow{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.timeline>li>.timeline-item>.go-edit {
  color: #999;
  float: right;
  padding: 10px;
}
.other-expense-details{
  padding: 0 0 5px 10px;
}