.space-left{
  margin-left: 5px;
}
.space-right{
  margin-righ: 5px;
}

.mushroom{
  background: var(--mushroom);
}

.table>tbody>tr>td.td-middle{
  vertical-align: middle;
}
.category-circle{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align:center;
  line-height: 40px;
  vertical-align: middle;
}
.no-border-left{
  border-left: none;
}
.no-border-right{
  border-right: none;
}
