select#percent_input{
  border-left: solid 1px inherit !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.calculator-modal{
  height: 600px;
}
.calculator-input-addon{
  font-size: 1.4em;
  cursor: pointer;
}
.calculator-input-addon:hover{
  background: #f5f5f5;
}
.calculator-input-addon:active, .calculator-input-addon:focus{
  background: #c0c0c0;
}

