body{
  color: #4d2200;
}

.skin-red .main-header .logo {
  background-color: var(--redpepper);
  color: #fff;
  border-bottom: 0 solid transparent;
}

.skin-red .main-header .logo:hover {
  background-color: #b30000;
}

.skin-red .main-header .navbar {
  background-color: var(--redpepper);
}

.skin-red .main-header .navbar .sidebar-toggle:hover {
  background-color: #b30000;
}

.content-wrapper {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
}

.content-wrapper {
  min-height: 100%;
  background-color: var(--mushroom);
  z-index: 800;
}

.skin-red .main-sidebar, .skin-red .left-side {
  background-color: var(--mushroom);
  border-right: solid 1px #4d2200;
}

.skin-red .sidebar-menu>li.header {
  color: var(--driftwood);
  background: var(--mushroom);
  border-bottom: solid 1px #fff;
}

.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a, .skin-red .sidebar-menu>li.menu-open>a {
  color: var(--driftwood);
  background: #ffe6cc;
}

.skin-red .sidebar a {
  color: var(--driftwood);
}

.sidebar-menu>li {
  border-bottom: solid 1px #fff;
}

.skin-red .sidebar-menu>li.active>a {
  border-left-color: var(--redpepper);
}

.skin-red .sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #fff;
  border-bottom: solid 1px #fff;
}

.skin-red .sidebar-menu .treeview-menu>li {
  background: #fff;
}

.skin-red .sidebar-menu .treeview-menu>li>a {
  color: #803900;
}

.skin-red .sidebar-menu .treeview-menu>li.active>a, .skin-red .sidebar-menu .treeview-menu>li>a:hover {
  color: #4d2200;
  background: #ffe6cc;
}

.bg-orange {
  background-color: var(--onion) !important;
}

.bg-red {
  background-color: var(--redpepper) !important;
}

.btn-orange {
  color: #fff;
  background-color: var(--onion);
  border-color: transparent;
}

.btn-orange:hover, .btn-orange:active, .btn-orange.hover {
  color: #fff;
  background-color: #e68947;
}

.btn-orange.focus, .btn-orange:focus {
  color: #fff;
  background-color: #cc7a3f;
  border-color: #cc7a3f;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: var(--driftwood);
  border-color: #803900;
}

.form-control:focus {
  border-color: var(--onion);
}

.todo-list>li {
  background: #fff;
  border-left: 2px solid var(--onion);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #4d2200;
}

.todo-list>li .tools {
  display: inline-block;
}

a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
  color: var(--onion);
}

.nav-tabs-custom>.nav-tabs>li.active {
  border-top-color: var(--driftwood);
}

.login-page, .register-page {
  background: var(--mushroom);
}
.login-logo, .register-logo{
  margin-bottom: 80px;
}
.login-box-body, .register-box-body{
  color: #4d2200;
  border: solid 1px #4d2200;
}