body{
  color: #4d2200;
}

#company-name{
  color: #c60000;
}

.skin-red .main-header .logo {
  background-color: #c60000;
  color: #fff;
  border-bottom: 0 solid transparent;
}

.skin-red .main-header .navbar {
  background-color: #c60000;
}

.content-wrapper {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
}

.content-wrapper {
  min-height: 100%;
  background-color: #fef2e4;
  z-index: 800;
}

.skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {
  background-color: #ffe6cc;
}

.skin-red .sidebar-menu>li.header {
  color: #805a3b;
  background: #ffe6cc;
}

.skin-red .sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #ffdbb3;
}

.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a, .skin-red .sidebar-menu>li.menu-open>a {
  color: #805a3b;
  background: #ffe6cc;
}

.skin-red .sidebar a {
  color: #805a3b;
}

.skin-red .sidebar-menu>li.active>a {
  border-left-color: #c60000;
}

.skin-red .sidebar-menu .treeview-menu>li>a {
  color: #803900;
}

.skin-red .sidebar-menu .treeview-menu>li.active>a, .skin-red .sidebar-menu .treeview-menu>li>a:hover {
  color: #333;
}



.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
  background-color: #fd974f !important;
}

.bg-orange {
  background-color: #fd974f !important;
}

.btn-orange {
  color: #fff;
  background-color: #fd974f;
  border-color: transparent;
}

.btn-orange:hover, .btn-orange:active, .btn-orange.hover {
  color: #fff;
  background-color: #e68947;
}

.btn-orange.focus, .btn-orange:focus {
  color: #fff;
  background-color: #cc7a3f;
  border-color: #cc7a3f;
}

.btn-brown {
  color: #fff;
  background-color: #805a3b;
  border-color: transparent;
}

.btn-brown:hover, .btn-brown:active, .btn-brown.hover {
  color: #fff;
  background-color: #803900;
}

.btn-brown.focus, .btn-brown:focus {
  color: #fff;
  background-color: #662e00;
  border-color: #4d2200;
}

.box.box-brown {
  border-top-color: #805a3b;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #c60000;
  border-color: #c60000;
}