td.memo {
  word-wrap: break-word;
}

table.table.pay {
  table-layout: fixed;
  margin-top: 100px;
  a {
    &:hover{
      color: #333;
      text-decoration: underline;
      display: block;
      background-color: #ccc;
    }
  }
}

select#pay_date_1i, select#pay_date_2i  {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 10px;
}
