.each-repeat-expense{
  padding: 10px !important;
}
.over-end-date{
  background-color: gray;
}
.own-or-both-icon{
  float: left;
  width: 15px;
  height: 15px;
}
.box-comments .repeat-exepnse-amount{
  color: #4d2200 !important;
  font-size: 1.2em;
  display: block;
  font-weight: 600;
}
.repeat-expense-percent{
  font-size: 0.5em;
  color: #777;
}
.repeat-expense-error-messages{
  color: var(--redpepper);
  padding: 10px 0px 0px 10px;
}
.repeat-expense-chose-btn{
  display: block;
  width: 100%;
  background-color: white;
  padding: 10px 0px;
  border-top: solid 1px #eee;
  font-size: 1.3em;
}