table.table {
  table-layout: fixed;
  margin-top: 100px;
  a {
    &:active{
      color: #333;
      text-decoration: underline;
      display: block;
      background-color: #ccc;
    }
  }
  td {
    word-wrap: break-word;
    max-width: 18rem;
  }
}

a#del_list_btn {
  &:active {
    background-color: transparent !important;
  }
}

i.fas.fa-minus-circle{
  color: red;
}

.goods_name {
  font-size: 1.5rem;
}

.want_memo {
  color: darkgray;
}

select#pay_date_1i, select#pay_date_2i  {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 1.2rem;
  background-color: #fff;
  padding: 10px;
}
