table#wants_list {
  table-layout: fixed;
  margin-top: 100px;
  a {
    &:hover{
      color: #333;
      text-decoration: underline;
      display: block;
      background-color: #ccc;
    }
  }
  td {
    word-wrap: break-word;
    max-width: 18rem;
  }
}

i.fas.fa-minus-circle{
  color: red;
}

.goods_name {
    font-size: 2rem;
}

.want_memo {
    color: darkgray;
}
