%h3 カテゴリ編集
%ul.categroy_list
  - @common_categories.each do |category|
    %li.category_list
      = link_to category.kind, edit_category_path(category), class: "btn btn-primary btn-lg btn-block"
  - @my_categories.each do |category|
    %li.category_list
      = link_to category.kind, edit_category_path(category), class: "btn btn-primary btn-lg btn-block"
  %li.category_list
    = link_to '+ 共通のカテゴリの登録', common_categories_path, class: "btn btn-primary btn-lg btn-block additional"
  %li.category_list
    = link_to '+ カテゴリ追加', new_category_path, class: "btn btn-primary btn-lg btn-block additional"
