<%= render partial: 'shared/html_title', locals: {subtitle: "ユーザー一覧"} %>

<div class="content-wrapper">

  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <h3>ユーザー一覧</h3>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-default">

          <div class="box-header">

          </div><!-- /.box-heading -->

          <div class="box-body">

          </div><!-- /.box-body -->

          <div class="box-footer">

          </div><!-- /.box-footer -->

        </div><!-- /.box box-brown -->

      </div><!-- /.col-md-12  -->
    </div><!-- /row -->

  </section><!-- /.content -->

</div>