#pills-tabContent.tab-content
  #both.tab-pane.fade.show.active{"aria-labelledby" => "both-tab", :role => "tabpanel"}
    .both_list #{current_user.name}の出費
    - (@current_user_expenses.both_expenses).each do |expense|
      %div.each_expense
        = link_to edit_link(expense) do
          - flg = "both"
          = render 'expenses/display_expenses', expense: expense, flg: flg
// = render 'expenses/expenses_summary', cnum: @cnum, current_user_expenses: @current_user_expenses, partner_expenses: @partner_expenses
