#pills-tabContent.tab-content
  #both.tab-pane.fade.show.active{"aria-labelledby" => "both-tab", :role => "tabpanel"}
    .both_list #{current_user.name}の出費
    -# 二人の出費なら引数にtrueを、自分の出費ならfalseを
    - (@current_user_expenses.arrange(false)).each do |expense|
      %div.each_expense
        = link_to edit_link(expense) do
          = render 'expenses/display_expenses', expense: expense
// = render 'expenses/expenses_summary', cnum: @cnum, current_user_expenses: @current_user_expenses, partner_expenses: @partner_expenses
